@import "tailwindcss";

:root {
  --background: #fff9f2;
  --foreground: #4a4a4a;
  /* Dark Gray */
  --terracotta: #d97c5f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-terracotta: var(--terracotta);
  --animate-fade-in: fade-in 0.5s ease-in-out;
  --animate-scale-in: scale-in 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up: slide-up 0.8s ease-out;

  @keyframes slide-up {
    from {
      transform: translateY(30px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes scale-in {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}